<div class="progress h-1 mb-6 sm:mb-8" style="--progress: <%= (current_step.to_f / total_steps) * 100 %>%;">
  <div class="progress-bar bg-primary h-full" style="width: var(--progress);"></div>
</div>